<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="sidebar" class="side-menu sidebar-inverse">
		<nav class="navbar navbar-default" role="navigation">
			<div class="side-menu-container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<div class="icon fa fa-paper-plane"></div>
						<div class="title">去网站</div>
					</a>
					<button type="button"
						class="navbar-expand-toggle pull-right visible-xs">
						<i class="fa fa-times icon"></i>
					</button>
				</div>
				<ul class="nav navbar-nav">
					<li><a th:href="@{main}"> <span
							class="icon  glyphicon glyphicon-home"></span><span class="title">主页</span>
					</a></li>
					
					<li><a th:href="@{types}"> <span
							class="icon  fa fa-desktop"></span><span class="title">类型</span>
					</a></li>
					
					<li><a th:href="@{videos}"> <span
							class="icon  fa fa-table"></span><span class="title">视频</span>
					</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>